@import "./assets/fonts/fonts.css";
@import "tailwindcss";

@theme {
  --animate-marquee-time: 30s;
  --animate-marquee: marquee var(--animate-marquee-time) linear infinite;
  --animate-marquee2: marquee2 var(--animate-marquee-time) linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

/* skeleton.css */
.skeleton {
  background: #8a8070;
  border-radius: 4px;
  animation: shimmer 1.6s ease-in-out infinite;
}

.skeleton.circle {
  border-radius: 50%;
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 0.45;
  }
  50% {
    opacity: 1;
  }
}

:root {
  --font-display: "Playfair Display", Georgia, serif;
  --background: #f5f0e8;
  --foreground: #8a8070;
  --bg-hover: #0a0a0a;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8a8070;
    --foreground: #f5f0e8;
  }
}
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

footer {
  background-color: var(--bg-hover);
  color: var(--background);
  margin-top: 5rem;
}

nav a {
  &:hover {
    background-color: var(--bg-hover);
    color: var(--background);
  }
}
